@charset "utf-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, sans-serif;
    font-size: 1em;
    background-color: #f0f0f0;
}

header{
    color: #fff;
    text-align: center;
    padding: 10px 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-bottom: 2px solid rgb(255, 187, 0);
    margin-bottom: 20px;
    background-image: linear-gradient(to left, black, rgb(32, 32, 32));
    position: sticky;
    top: 0px;
}

header > h1{
    font-size: 1.5em;
    text-shadow: 0 1px 8px rgba(255, 255, 255, 0.315);
}

header > h1 > span{
    transform: translate(0, 4px);
}

main > p{
    margin: 10px 20px;
    text-align: center;
    text-indent: 1.5em;
}

section{
    display: flex;
    margin: 10px 20px;
    justify-content: center;
    padding-top: 0px;

    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.514);
    flex-direction: column;
    background-color: rgb(24, 24, 24);
    color: white;
    border-radius: 6px;
    overflow: hidden;
}

div.title{
    display: block;
    padding: 20px;
    text-align: center;
    background-color: rgb(32, 32, 32);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
    border: 2px solid rgb(59, 59, 59);
}

div.title:hover{
    background-color: rgb(77, 67, 40);
    cursor: pointer;
}

div.topic{
    display: none;
}

div.question, div.answer, div.unhide{
    display: block;
    padding: 20px;

    flex: auto;
}

div.question > img{
    display: block;
    margin: 10px auto;
    width: 100%;
    max-width: 300px;
    height: auto;
}

div.question > ol{
    margin: 20px;
    list-style-type: upper-alpha;
    margin-bottom: 0px;
}

div.question > ol > li{
    margin: 10px 0px;
    background-color: rgb(20, 20, 20);
    border-radius: 5px;
    box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.418);
}

div.unhide{
    padding: 20px;
    background-color: rgb(63, 60, 55);
    height: 80px;
    width: 500px;
    margin: 20px auto;
    border-radius: 20px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.342);
}

div.unhide:hover{
    background-color: rgb(49, 47, 43);
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.342);
}

div.unhide > p{
    margin: 10px;
    text-align: center;
    font-size: 1.2em;
    font-weight: bold;
}

div.answer{
    display: none;
    background: rgb(238, 220, 174) url(../imagens/pattern-flowers-yellow.jpg) repeat 0 0;
    border: 5px solid rgb(24, 24, 24);
    color: black;
    border-radius: 10px;
}

div.answer > h1{
    display: inline-block;
    margin-bottom: 10px;
    background-color: rgba(255, 255, 255, 0.527);
    border-radius: 10px;
    padding: 5px 10px;
    text-decoration: underline;
}

div.answer > p{
    font-size: .9em;
    margin: 0 20px;
    padding: 10px;
    background-image: linear-gradient(to top, rgba(255, 249, 218, 0.418), rgba(255, 249, 216, 0.726));
    border-radius: 5px;
    box-shadow: 0 0 4px rgba(255, 249, 216, 0.726);
}

div.answer > img{
    display: block;
    margin: 0 auto;
    width: 100%;
    max-width: 300px;
    height: auto;
}